#menu{
    position: relative;
    z-index: 1;
    background-color: white;

}
#menu .wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* LOGO  */
#menu .logo{
    font-size: 25px;
    font-weight: 400;
}

#menu i{
    margin-right: 15px;
    font-size: 35px;
    color:#0099ff
}


/* MENU LINKS */
#menu .links a{
    margin-left: 15px;
}

#menu .links{
    margin-top: 7px;
}
