#menu{
    background-color: white;
}
#menu .wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* MENU LINKS */
#menu .links a{
    margin-left: 15px;
}

#menu .links{
    margin-top: 7px;
}

#menu .links i{
  padding-top: 7px;
  margin-left: 15px;
  color: white;
  background-color: rgb(197, 197, 197);
  width: 35px;
  height: 35px;
  border-radius: 20px;
  font-size: 18px;
}

#menu .links i:hover{
  background-color: rgb(156, 156, 156);
  transition: 1000ms;
}
