#main{
  min-height: 75vh;
}

#main .input-container{
	background-color: rgba(36, 36, 36, 0.057);
	box-shadow: 1px 3px 6px rgba(42, 42, 42, 0.354);
	max-width: 700px;
	padding: 20px;
	border-radius: 20px;

}

#main h1{
	color:white;
}

#main input{
	width:60%;
	padding: 10px;
	margin-right: 10px;
	height: 38px;
	border-radius: 7px;
	border: solid rgb(170, 170, 170)
}

#main button{
	width: 30%;
}

#main .session{
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  background: white;
  border-radius: 20px;
  font-size: 12px;
  text-align: left;
  padding: 30px;
}

#main .session p{
  margin-bottom: 5px;
}