#image-container{
  margin: 40px auto;
}

#image-container img{
  width: 100%;
  border-radius: 10px;
}

#image-container{
  position: relative;
}

#image-container.wrapper-img{
	width: 100%;
	max-width: 700px;
	margin: auto;
  margin-top: 30px;
}

#image-container .bounding-box{
  position: absolute;
  border: solid  3px rgb(144, 0, 255);
  box-shadow : 1px 1px 2px #e600db3e inset;
  display: flex;
  display: -webkit-flex;
  display: -md-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

